<section class="registrazione">
    <form #form="ngForm" (ngSubmit)="registrazione()">
        <!--<label>Foto Profilo:
            <input type="file" name="profilo" (click)="fileSelezionato($event)"/>
        </label>-->
        <label>Foto Profilo:
            <input type="text" name="profilo" [(ngModel)]="utente.pathImmagine"/>
        </label>
        <label>Nome:
            <input name="nome" [(ngModel)]="utente.nome" required/>
        </label>
        <label>Cognome:
            <input name="cognome" [(ngModel)]="utente.cognome" required/>
        </label>
        <label>Email:
            <input name="email" type="email" inputmode="email" [(ngModel)]="utente.nome" required/>
        </label>
        <label>Password:
            <input name="password" type="password" minlength="8" [(ngModel)]="utente.password" required/>
        </label>
        <label>Data di Nascita:
            <input name="data-nascita" type="date" [(ngModel)]="utente.dataDiNascita" required/>
        </label>
        <label>Genere:
            <div>
                <label><input name="sesso" type="radio" value="MASCHIO" checked>Maschio</label>
                <label><input name="sesso" type="radio" value="FEMMINA" checked>Femmina</label>
                <label><input name="sesso" type="radio" value="NON_SPECIFICATO" checked>Non Specificato</label>
            </div>
        </label>
        <button type="submit" [disabled]="form.invalid">Registrati</button>
        <button type="button" (click)="annulla()">Annulla</button>
    </form>
</section>