<div class="container py-2">
    <div class=" bg-black bg-opacity-10 rounded-5 shadow-sm m-2 p-4">
        <form #form="ngForm" (ngSubmit)="salva()">
            <div class="row justify-content-center align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 d-flex align-items-center justify-content-center">
                    <!-- quando clicchi sul div si scatena l'evento click sull'input -->
                    <div class="profile-pic-container" (click)="fileInput.click()">
                        <img src="http://localhost:8080{{previewUrl}}">
                        <!-- imposta un velo nero quando ci si passa sopra -->
                        <div class="overlay">
                            <!-- icona della fotocamera-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-camera">
                                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                                <circle r="4" cx="12" cy="13"></circle>
                            </svg>
                        </div>
                        <!-- è nascosto ma attivo, e gli viene associato il nome #fileInput per essere
                         utilizzato da altri elementi dell'html. Chiama la funziona fileSelezionato()
                         passandogli l'immagine in modo da salvarla a backend-->
                        <input type="file" #fileInput (change)="fileSelezionato($event)" accept="image/*">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 p-2 align-items-center justify-content-center px-4">
                    <div class="mb-3">
                        <label class="form-label">Nome: </label>
                        <input class="form-control" type="text" name="nome" [(ngModel)]="utente.nome" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            <label>Cognome: </label>
                            <input class="form-control" type="text" name="cognome" [(ngModel)]="utente.cognome" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email: </label>
                        <input class="form-control" type="email" name="email" [(ngModel)]="utente.email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password: <span class="dettagli-pw">(Almeno un carattere minuscolo, uno maiuscolo, un numero ed un carattere speciale)</span></label>
                        <input class="form-control" type="password" name="password" [(ngModel)]="utente.password" [attr.required]="!modifica">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Data di Nascita: </label>
                        <input class="form-control" type="date" name="data-nascita" [(ngModel)]="utente.dataDiNascita" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Sesso:
                        </label>
                        <div class="d-flex gap-2">
                            <div class="form-check form-check-inline">
                                <input id="maschio" class="form-check-input" type="radio" name="sesso" value="MASCHIO" [(ngModel)]="utente.sesso" required>
                                <label for="maschio" class="form-check-label flex-fill">Maschio</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="femmina" class="form-check-input" type="radio" value="FEMMINA"  [(ngModel)]="utente.sesso" name="sesso" required>
                                <label for="femmina" class="form-check-label flex-fill">
                                    Femmina
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="altro" class="form-check-input" type="radio" value="NON_SPECIFICATO" [(ngModel)]="utente.sesso" name="sesso" required checked="checked">
                                <label for="altro" class="form-check-label flex-fill">
                                    Altro
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Punti:</label>
                        <input class="form-control" type="number" name="punti" min="0" [(ngModel)]="utente.punti" [disabled]="!modifica">
                    </div>
                    <div class="mb-3">
                        <label class="form-label mb-3">Ruoli:</label>
                        <!-- flex-wrap va a capo se non ha più spazio -->
                        <div class="d-flex flex-wrap gap-2">
                            <div *ngFor="let r of ruoli" class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="ruolo" [attr.id]="'ruolo'+r.nome" [value]="r.id" [checked]="ruoloSelezionato(r.id)" (change)="ruoloCambiato($event)">
                                <label class="form-check-label" [attr.for]="'ruolo'+r.nome">{{r.nome}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- evenly crea stesso spazio tra bordo-elemento e elemento-elemento -->
                <div class="d-flex gap-2 justify-content-evenly">
                    <button class="btn btn-primary w-25 mt-3" name="salvataggio" type="submit" [disabled]="form.invalid || ruoliSelezionati.length===0">
                        {{ modifica ? 'Salva' : 'Inserisci' }}
                    </button>
                    <button class="btn btn-primary w-25 mt-3" type="button" (click)="annulla()">
                        Annulla
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>