<section>
    <div style="float:left">
        <button type="button" (click)="naviga(undefined,'UTENTE')">Crea Utente</button>
        <button type="button" (click)="naviga(undefined,'DIPENDENTE')">Crea Dipendente</button>
        <button type="button" [disabled]="idUtentiDaPromuovere.length==0" (click)="promuovi()">Promuovi Utenti: {{idUtentiDaPromuovere.length}}</button>
        <button type="button" [disabled]="idUtentiDaDegradare.length==0" (click)="degrada()">Degrada Utenti: {{idUtentiDaDegradare.length}}</button>
        <div *ngFor="let u of utentiFiltrati" (click)="toggleDocumenti(u.id)">
            <span>{{u.nome}} {{u.cognome}}, {{u.dataDiNascita}}, {{u.email}}, {{u.tipologia}}</span>
            <button type="button" (click)="naviga(u.id,u.tipologia)">Modifica</button>
            <button type="button" (click)="elimina(u.id)">Elimina</button>
            <div *ngIf="u.id===idModifica">
                ----- LISTA DOCUMENTI -----
                <button type="button" *ngIf="!isOrganizzatore(u.id) && u.tipologia!=='DIPENDENTE'" (click)="addPromossi(u.id)">
                    {{daPromuovere(u.id) ? 'Rimuovi da "In Promozione"' : 'Aggiungi a "In Promozione"'}}
                </button>
                <button type="button" *ngIf="isOrganizzatore(u.id) && u.tipologia!=='DIPENDENTE'" (click)="addDegrada(u.id)">
                    {{daDegradare(u.id) ? 'Rimuovi da "Da Degradare"' : 'Aggiungi a "Da Degradare"'}}
                </button>
            </div>
        </div>
    </div>
    <div style="float:right">
        <label><input type="radio" name="tipologia" value="TUTTI" [(ngModel)]="tipologia" checked (change)="filtraUtenti()">Tutti</label>
        <br>
        <label><input type="radio" name="tipologia" value="DIPENDENTE" [(ngModel)]="tipologia" (change)="filtraUtenti()">Dipendenti</label>
        <br>
        <label><input type="radio" name="tipologia" value="UTENTE" [(ngModel)]="tipologia" (change)="filtraUtenti()">Utenti</label>
    </div>
</section>