<section id="inserimento-recensione">
    <div [formGroup]="addressForm">
        <input formControlName="nazione" placeholder="Nazione">
        <input formControlName="provincia" placeholder="Provincia">
        <input formControlName="citta" placeholder="Città">
        <input formControlName="cap" placeholder="CAP">
        <input formControlName="via" placeholder="Via/Piazza">
        <input formControlName="civico" placeholder="Civico">
        <button *ngIf="modifica" type="submit" (click)="salva()" [disabled]="addressForm.invalid">Salva</button>
        <button type="button" (click)="clear()">Pulisci</button>
    </div>
</section>