<section id="inserimento-recensione">
    <div [formGroup]="addressForm">
        <h4>Indirizzo di residenza</h4>
        <input formControlName="nazione" placeholder="Nazione">
        <input formControlName="provincia" placeholder="Provincia">
        <input formControlName="citta" placeholder="Città">
        <input formControlName="cap" placeholder="CAP">
        <input formControlName="via" placeholder="Via/Piazza">
        <input formControlName="civico" placeholder="Civico">
    </div>
</section><br>
<section id="lista-recensioni">
    <ul *ngFor="let i of indirizzi">
        <div>
            <span>{{i.via}} {{i.civico}},
            {{i.citta}} {{i.cap}}, {{i.provincia}}, {{i.nazione}}</span>
            <button type="button" (click)="caricaIndirizzo(i.id)">Modifica</button>
        </div>
        <br>
    </ul>
</section>