<section class="registrazione">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                <h2 class="text-center mb-4">Registrazione</h2>
            </div>
        </div>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="registrazione()">
        <!--<label>Foto Profilo:
            <input type="file" name="profilo" (click)="fileSelezionato($event)"/>
        </label>-->
        <div>
            <label>Foto Profilo:
                <input type="text" formControlName="pathImmagine"/>
            </label>
            <br>
            <label>Nome:
                <input formControlName="nome"/>
            </label><br>
            <label>Cognome:
                <input formControlName="cognome"/>
            </label><br>
            <label>Email:
                <input type="email" formControlName="email"/>
            </label><br>
            <label *ngIf="!modifica">Password:
                <input type="password" *ngIf="!modifica" formControlName="password"/>
            </label><br>
            <label>Data di Nascita:
                <input type="date" formControlName="dataDiNascita"/>
            </label><br>
            <label>Genere:
                <div>
                    <label><input type="radio" value="MASCHIO" formControlName="sesso">Maschio</label>
                    <label><input type="radio" value="FEMMINA" formControlName="sesso">Femmina</label>
                    <label><input type="radio" value="NON_SPECIFICATO" formControlName="sesso">Non Specificato</label>
                </div>
            </label>
            <button type="submit" *ngIf="modifica" name="aggiornamento-profilo" [disabled]="isFormInvalid">Salva</button>
        </div>
        <br>



        <div id="indirizzi">
            <h1>{{modifica?'Indirizzi':'Indirizzo di Residenza'}}</h1>
            <app-form-indirizzi #formIndirizzo *ngIf="!modifica" [modifica]="modifica"></app-form-indirizzi>
            <app-address *ngIf="modifica" [modifica]="modifica"></app-address>
        </div>

        <div id="metodi" *ngIf="modifica">
            <app-lista-metodi-pagamento [modifica]="modifica"></app-lista-metodi-pagamento>
        </div>

        <button *ngIf="!modifica" name="salvataggio" type="submit" [disabled]="isFormInvalid">
            Registrati
        </button>
    </form>
</section>