<section class="registrazione">
    <form [formGroup]="profileForm" (ngSubmit)="registrazione()">
        <!--<label>Foto Profilo:
            <input type="file" name="profilo" (click)="fileSelezionato($event)"/>
        </label>-->
        <div>
            <label>Foto Profilo:
                <input type="text" formControlName="pathImmagine"/>
            </label>
            <br>
            <label>Nome:
                <input formControlName="nome"/>
            </label><br>
            <label>Cognome:
                <input formControlName="cognome"/>
            </label><br>
            <label>Email:
                <input type="email" formControlName="email"/>
            </label><br>
            <label>Password:
                <input type="password" formControlName="password"/>
            </label><br>
            <label>Data di Nascita:
                <input type="date" formControlName="dataDiNascita"/>
            </label><br>
            <label>Genere:
                <div>
                    <label><input type="radio" value="MASCHIO" formControlName="sesso">Maschio</label>
                    <label><input type="radio" value="FEMMINA" formControlName="sesso">Femmina</label>
                    <label><input type="radio" value="NON_SPECIFICATO" formControlName="sesso">Non Specificato</label>
                </div>
            </label>
        </div>
        <br>
        <app-address [modifica]="modifica"></app-address>
        <app-metodo-pagamento></app-metodo-pagamento>
        <button name="salvataggio" type="submit" [disabled]="isFormInvalid">
            {{ modifica ? 'Salva' : 'Registrati' }}
        </button>
        <button type="button" (click)="annulla()">Annulla</button>
    </form>
</section>