/*nav{
  border:2px solid black;
}
nav ul{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  align-items: center;
}*/
nav li{
  margin: 0 10px;
}
.title{
  transition: transform 0.2s
}

.title:hover{
  transform: scale(1.05);
}

.dropdown-toggle::after {
  display:none;
}