<header>
    <nav class="clearfix">
        <h1 style="display: flex;justify-content: center"><a routerLink="/">SoundSphere</a></h1>
        <!-- controllo se utente loggato per pulsante logout o login -->
        <br>
        <button type="button" style="float:right" (click)="carrello()">Carrello</button>
        <br>
        <a style="float:right" *ngIf="!loggedUser&&router.url!=='/login';else benvenuto" routerLink="/login">Login</a>
        <br><a style="float:right" *ngIf="loggedUser" href="#" (click)="logout()">Logout</a>
        <br>
        <ul>
            <li *ngFor="let c of categorieMacro">
                <a [routerLink]="['categorie',c.id]">{{c.name}}</a>
            </li>
        </ul>
    </nav>
</header>
<ng-template #benvenuto>
    <section style="float:right" >
        <span  style="color:blue">Benvenuto {{loggedUser?.nome}} {{loggedUser?.cognome}}</span>
    </section>
</ng-template>
<main class="clearfix">
    <router-outlet></router-outlet>
</main>

<footer>

</footer>
