<section>
    <form #ngForm="ngForm" (ngSubmit)="salvaDipendente()">

        <div>
            <label>Nome: </label>
            <input name="nome" type="text" [(ngModel)]="dipendente.nome">
        </div>
        <br>
        <div>
            <label>Cognome: </label>
            <input name="cognome" type="text" [(ngModel)]="dipendente.cognome">
        </div>
        <br>
        <div>
            <label>Email: </label>
            <input name="email" type="email" [(ngModel)]="dipendente.email">
        </div>
        <br>
        <div>
            <label>Password: </label>
            <input name="password" type="password" [(ngModel)]="dipendente.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$">
        </div>
        <br>

        <div>
            <label>Data Di Nascita: </label>
            <input type="date" [(ngModel)]="dipendente.dataDiNascita">
        </div>
        <br>
        <div>
            <label>Path Immagine: </label>
            <input name="path" type="text" [(ngModel)]="dipendente.pathImmagine">
        </div>
        <br>
        <div>
            <label>Sesso: </label>
            <div>
                <input name="sesso" type="radio" value="MASCHIO" [(ngModel)]="dipendente.sesso">
                <input name="sesso" type="radio" value="FEMMINA" [(ngModel)]="dipendente.sesso">
                <input name="sesso" type="radio" value="NON_SPECIFICATO" [(ngModel)]="dipendente.sesso">
            </div>
        </div>
        <br>
        <!--
         ruoliIds,stipendio,scadenzaContratto,dataAssunzione,filialeId
        -->
        <div>
            <label>Vantaggio: </label>
            <select name="vantaggio" [(ngModel)]="dipendente.pathImmagine">
                <option *ngFor="let v of vantaggi" [ngValue]="v.id">{{v.nome}}</option>
            </select>
        </div>
        <!-- Inserire qui gestione dei ruoli quando disponibile -->
        <div>
            <label>Data scadenza contratto: </label>
            <input name="path" type="date" [(ngModel)]="dipendente.scadenzaContratto">
        </div>
        <div>
            <label>dataAssunzione: </label>
            <input name="path" type="date" [(ngModel)]="dipendente.dataAssunzione">
        </div>
        <div>
            <label>Filiale: </label>
            <select name="filiale" [(ngModel)]="dipendente.filialeId">
                <option *ngFor="let f of filiali" [ngValue]="f.id">{{f.nome}} - {{f.citta}}</option>
            </select>
        </div>
    </form>
</section>