<section>
    <form #form="ngForm" (ngSubmit)="salva()">
        <div>
            <label>Nome: </label>
            <input type="text" name="nome" [(ngModel)]="prodotto.nome" required>
        </div>
        <br>
        <div>
            <label>Marca: </label>
            <input type="text" name="marca" [(ngModel)]="prodotto.marca" required>
        </div>
        <br>
        <div>
            <label>Descrizione: </label>
            <input type="text" name="descrizione" [(ngModel)]="prodotto.descrizione" required>
        </div>
        <br>
        <div>
            <label>Immagine: </label>
            <img src="http://localhost:8080{{previewUrl}}" alt="{{prodotto.nome}}">
            <input type="file" #fileInput (change)="fileSelezionato($event)" accept="image/*">
        </div>
        <br>
        <div>
            <label>Prezzo (in €): </label>
            <input type="text" inputmode="decimal" name="prezzo" [(ngModel)]="prodotto.prezzo" pattern="^\d+(\.\d{1,2})?$" required>
        </div>
        <br>
        <div>
            <label>Noleggiabile: </label>
            <input type="checkbox" name="check-rent" [(ngModel)]="prodotto.rentable">
        </div>
        <br>
        <div *ngIf="prodotto.rentable">
            <label>Costo Giornaliero di noleggio (in €): </label>
            <input type="text" inputmode="decimal" name="costo-noleggio" [(ngModel)]="prodotto.costoGiornaliero" pattern="^\d+(\.\d{1,2})?$">
        </div>
        <br>

        <div style="float:right">
            <div *ngFor="let c of prodotto.categorie">
                <span (click)="rimuoviCategoria(c.id)">{{c.name}}</span>
            </div>
            <div *ngFor="let c of macroCategorie">
                <button style="background-color:red" type="button" (click)="selezionaCategoria(c.id)">{{c.name}}</button>
                <app-categorie-prodotto *ngIf="c.id===selectedCategoria" [categorieProdotto]="prodotto.categorie" [categoriaInput]="c" (categoriaSelezionata)="aggiungi($event)"></app-categorie-prodotto>
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid || prodotto.categorie?.length===0">
            {{modifica ? 'Salva':'Aggiungi' }}
        </button>
    </form>
    <button type="button" (click)="annulla()">Annulla</button>
</section>
