<section>
    <div *ngFor="let c of carrello">
        <label>Nome:</label>
        <textarea readonly>{{c.prodotto?.nome}}</textarea>

        <label>Marca:</label>
        <textarea readonly>{{c.prodotto?.marca}}</textarea>

        <label>Valutazione:</label>
        <textarea readonly>{{c.prodotto.stelleMedie}}</textarea>

        <label>Prezzo:</label>
        <textarea readonly>{{c.prodotto?.prezzo}}</textarea>

        <label *ngIf="!c.wishlist">Quantità:</label>
        <input *ngIf="!c.wishlist" type="number" min="1" [(ngModel)]="c.quantita">
    </div>
</section>