.btn {
  border-radius: 20px;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
  transition: transform 0.1s

}

.btn-primary:hover,{
  background-color: #000;
  border-color: #000;
  transform: scale(1.05);
}

.btn-primary:active {
  background-color: #000000 !important;
  transform: scale(0.98) !important;
}

.btn-secondary {
  background-color: #616161 !important;
  border-color: #616161 !important;
  transition: transform 0.1s
}

.btn-secondary:hover,{
  background-color: #616161;
  border-color: #616161;
  transform: scale(1.05);
}

.btn-secondary:active {
  background-color: #616161 !important;
  transform: scale(0.98) !important;
}

.btn-secondary:hover {
  background-color: #2C3E50;
  border-color: #212F3D;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #383838FF;
  border-color: #383838FF;
  cursor: not-allowed;
}