.btn {
  border-radius: 20px;
  border-color: #000;
  transition: transform 0.1s
}

.btn:hover,{
  border-color: #000;
  transform: scale(1.05);
}

.btn:active {
  border-color: #000;
  transform: scale(0.98) !important;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
  transition: transform 0.1s

}

.btn-primary:hover,{
  background-color: #000;
  border-color: #000;
  transform: scale(1.05);
}

.btn-primary:active {
  background-color: #000000 !important;
  transform: scale(0.98) !important;
}

.btn-secondary {
  background-color: #616161 !important;
  border-color: #616161 !important;
  transition: transform 0.1s
}

.btn-secondary:hover,{
  background-color: #616161;
  border-color: #616161;
  transform: scale(1.05);
}

.btn-secondary:active {
  background-color: #616161 !important;
  transform: scale(0.98) !important;
}

.btn-secondary:hover {
  background-color: #2C3E50;
  border-color: #212F3D;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #383838FF;
  border-color: #383838FF;
  cursor: not-allowed;
}


p {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-outline-primary:active{
  transform: scale(0.98) !important;

  background-color: #0b5ed7 !important;
  border-color:#0a58ca !important;
  color:#fff !important;
}

.btn-outline-danger:active, .btn-danger:active{
  transform: scale(0.98) !important;
  background-color: #b02a37 !important; /* Un rosso leggermente più scuro */
  border-color: #a52834 !important;
  color: #fff !important;
}
.btn-hover-zoom{
  transition: transform 0.2s ease-in-out;
}
.btn-hover-zoom:hover{
  transform: scale(1.05);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Per Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.discounted-price{
  text-decoration: line-through;
  color: #999;
  font-size:0.8em;
}

.prezzo-scontato{
  color:#27ae60;
  font-weight: bold;
}

.dettagli-pw{
  font-size:0.6em;
}