.btn {
  border-radius: 20px;
}

.btn-primary {
  background-color: #000;
  border-color: #000;

}

.btn-primary:hover,{
  background-color: #3c3c3c;
  border-color: #3c3c3c;
}

.btn-primary:active {
  background-color: #000000 !important;
  transform: scale(0.98) !important;
}

.btn-secondary {
  background-color: #34495E;
  border-color: #2C3E50;
}

.btn-secondary:hover {
  background-color: #2C3E50;
  border-color: #212F3D;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #383838FF;
  border-color: #383838FF;
  cursor: not-allowed;
}