<div>
    <form name="formMetodi" #form="ngForm" (ngSubmit)="salva()">
        <label>Nome</label>
        <input name="nome" type="text" [(ngModel)]="nome" required>
        <br>
        <label>Cognome</label>
        <input name="cognome" type="text" [(ngModel)]="cognome" required>
        <br>
        <label>Numero</label>
        <input name="numero" type="text" [(ngModel)]="metodo.numero" pattern="^\d{16}$" placeholder="0000 0000 0000 0000" required>
        <br>
        <label>CVV</label>
        <input name="cvv" type="text" [(ngModel)]="metodo.cvv" pattern="^\d{3}$" placeholder="000" required>
        <br>
        <label>Data Scadenza</label>
        <input name="data-scadenza" type="date" [(ngModel)]="metodo.dataScadenza" required>
        <br>
        <div>
            <label><input type="radio" name="tipo-metodo" value="CARTA_DI_CREDITO" [(ngModel)]="metodo.tipoPagamento">Carta di Credito </label>
            <label><input type="radio" name="tipo-metodo" value="PAYPAL" [(ngModel)]="metodo.tipoPagamento">Paypal</label>
        </div>
        <br>
        <div *ngIf="metodo.tipoPagamento==='PAYPAL'">
            <label>Email di paypal</label>
            <input name="paypal-email" type="email" [(ngModel)]="metodo.paypalEmail">
        </div>

        <br>
        <label>Impostare come metodo di default?</label>
        <input name="default" type="checkbox" [(ngModel)]="metodo.main">
        <br>
        <button name="salva" type="submit" [disabled]="form.invalid">Salva</button>
    </form>
</div>