<section>
    <!-- nome?: string;
    telefono?: string;
    email?: string;
    via?: string;
    citta?: string;
    cap?: string;
    provincia?: string;
    nazione?: string;
    -->
    <form #form="ngForm" (ngSubmit)="salva()">
        <div>
            <label>Nome:</label>
            <input type="text" name="nome" [(ngModel)]="filiale.nome" required>
        </div>
        <br>
        <div>
            <label>Telefono:</label>
            <input type="tel" name="telefono" [(ngModel)]="filiale.telefono" pattern="^(?:\+39|0039)?[ ]?(\d{3})[ ]?(\d{6,7})$" required>
        </div>
        <br>
        <div>
            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]="filiale.email" required>
        </div>
        <br>
        <div>
            <label>Indirizzo</label>
            <br>
            <div>
                <label>Nazione:</label>
                <input type="text" name="nazione" [(ngModel)]="filiale.nazione" required>
            </div>
            <br>
            <div>
                <label>Provincia:</label>
                <input type="text" name="provincia" [(ngModel)]="filiale.provincia" required>
            </div>
            <br>
            <div>
                <label>Città:</label>
                <input type="text" name="citta" [(ngModel)]="filiale.citta" required >
            </div>
            <br>
            <div>
                <label>CAP:</label>
                <input type="text" name="cap" [(ngModel)]="filiale.cap" required>
            </div>
            <br>
            <div>
                <label>Via:</label>
                <input type="text" name="via" [(ngModel)]="filiale.via" required>
            </div>
            <br>
        </div>
        <br>
        <button type="submit" [disabled]="form.invalid">
            {{modifica ? 'Salva':'Aggiungi' }}
        </button>
        <button type="button" (click)="annulla()">Annulla</button>
    </form>

</section>