<section>
    <form>
        <input style="float:left" name="ricerca" type="text" [(ngModel)]="cercaProd" (keyup)="filtraProdotti()"/>
    </form>
</section><br>
<section style="float:left">
    <div class="prodotto" *ngFor="let p of prodFiltrati">
        <span>{{p.nome}} </span>
        <span>{{p.marca}} </span>
        <span>{{p.stelleMedie}} </span>
        <span>{{p.prezzo}} </span><br>
        <a style="justify-content:center" [routerLink]="['/dettaglio-prodotto',p.id]">Vai a Dettaglio</a>
        <button type="button" *ngIf="disponibileCarrello(p.id)" (click)="aggiungiCarrello(p.id,false)">Aggiungi al Carrello</button>
        <button type="button" *ngIf="disponibileWishlist(p.id)" (click)="aggiungiCarrello(p.id,true)">Aggiungi alla Wishlist</button>
    </div><br>
</section>