<section>
    <form>
        <input style="float:left" name="ricerca" type="text" [(ngModel)]="cercaProd" (keyup)="filtraProdotti()"/>
    </form>
</section><br>
<section >
    <div class="container my-5">
        <div class="row g-4">
            <ng-container *ngFor="let prodotto of prodFiltrati">
                <div class="col-lg-auto d-flex">
                    <app-product-card
                            *ngIf="prodotto && prodotto.id"
                            [product]="prodotto"
                            [isCartAvailable]="disponibileCarrello(prodotto.id)"
                            [isWishlistAvailable]="disponibileWishlist(prodotto.id)"
                            (addToCartClick)="aggiungiCarrello($event, false)"
                            (addToWishlistClick)="aggiungiCarrello($event, true)">
                    </app-product-card>
                </div>
            </ng-container>

        </div>
    </div>
    <br>
</section>