<section *ngIf="prodotto && prodotto.id" class="product-container">

    <div class="product-image-column">
        <img src="http://localhost:8080{{prodotto.pathImmagine}}" alt="Immagine di {{prodotto.nome}}">
    </div>

    <div class="product-details-column">

        <h1 class="product-title">{{ prodotto.nome }}</h1>
        <h3 class="product-brand">{{ prodotto.marca }}</h3>

        <div class="product-price align-items-end">
            <div class="d-flex price">
                <span [class]="loggedUser?.vantaggio?.sconto ? 'discounted-price':''">{{ prodotto.prezzo | currency:'EUR':'symbol':'1.2-2' }}</span>
                <p class=" ms-3 card-text card-price prezzo-scontato" *ngIf="this.loggedUser?.vantaggio?.sconto">{{ prezzoScontato()|currency:'EUR':'symbol':'1.2-2'}}</p>
            </div>
            <div class="d-flex price" *ngIf="canRent()">
                <span [class]="loggedUser?.vantaggio?.sconto ? 'discounted-price':''">{{ prodotto.costoGiornaliero | currency:'EUR':'symbol':'1.2-2' }}</span>
                <p class=" ms-3 card-text card-price prezzo-scontato" *ngIf="this.loggedUser?.vantaggio?.sconto">{{ prezzoScontatoGiornaliero()|currency:'EUR':'symbol':'1.2-2'}}/gg</p>
            </div>
        </div>

        <div class="quantity-selector">
            <label for="quantita-carrello">Quantità:</label>
            <div class="quantity-controls">
                <button type="button" (click)="decrementaQuantita()" [disabled]="quantita <= 1" class="quantity-btn">-</button>
                <input id="quantita-carrello" [disabled]="!cartAvailable" type="number" min="1" name="quantita-carrello" [(ngModel)]="quantita" class="quantity-input">
                <button type="button" (click)="incrementaQuantita()" class="quantity-btn">+</button>
            </div>
        </div>

        <div class="action-buttons">
            <button type="button" name="addToCart" (click)="addToCart()" [disabled]="!cartAvailable" class="btn btn-primary">Aggiungi al Carrello</button>
            <button type="button" name="addToWishlist" (click)="addToWishlist()" [disabled]="!wishlistAvailable" class="btn btn-secondary">Aggiungi alla Wishlist</button>
        </div>

        <button type="button" (click)="annulla()" class="btn-link">Torna al Catalogo</button>
    </div>

</section>

<section>
    <div class="product-description">
        <h3>Descrizione prodotto</h3>
        <p class="description">{{ prodotto.descrizione }}</p>
    </div>
</section>

<div *ngIf="prodotto && prodotto.id" class="reviews-section">
    @defer (on viewport){
        <app-recensioni [loggedUser]="loggedUser" [prodottoId]="prodotto.id" [stelleMedie]="stelleMedie"/>
    } @placeholder {
        <div>
            <p>Caricamento sezione recensioni</p>
        </div>
    } @loading {
        <p>Inizializzazione recensioni</p>
    }
</div>