<section *ngIf="prodotto">

    <button style="float:right" type="button" name="addToWishlist" (click)="addToWishlist()">Aggiungi alla Wishlist</button>
    <button style="float:right" type="button" name="addToCart" (click)="addToCart()">Aggiungi al Carrello</button>
    <img id="profile-pic" [src]="prodotto.pathImmagine" alt="Profile Picture">
    <br>
    <label>
        Nome Prodotto:
    </label>
    <br>
    <input type="text" readonly [value]="prodotto.nome">
    <br>
    <label>
        Marca:
    </label>
    <br>
    <input type="text" readonly [value]="prodotto.marca">
    <br>
    <label>
        Prezzo:
    </label>
    <br>
    <input type="text" readonly [value]="prodotto.prezzo">

    <br><br>
    <label>Quantità:</label>
    <input type="number" min="1" name="quantita-carrello" [(ngModel)]="quantita">

    <button type="button" (click)="annulla()">Torna a Catalogo</button>
</section>